// Obtain values from the OCI Console
tenancy_ocid=<ocid1.tenancy....zhi3q>
compartment_ocid=<ocid1.compartment....e7e5q>
region=<us-ashburn-1>
fingerprint=<50:d0:7d:f7:0e:05:cd:87:3b:2a:cb:50:b1:17:90:e9>
api_private_key_path=<~/.oci/oci_api_key.pem>
current_user_ocid=<ocid1.user....ewc5a>

// The password will be used for both the ADMIN database and Jenkins User
password=<myuniquepassword>