pipeline {
    agent any
    stages {
        stage('environment') { 
            steps {
                echo "== Begin Environment =="
                sh 'printenv'
                echo "=== End Environment ==="
            }
        }
        stage('main-branch') {
            when { 
                allOf { 
                    branch 'main' 
                    not { changeRequest target: 'main' } 
                }
            }
            steps {
                echo 'Run this Stage only against the Main Branch'
           }
        } 
        stage('feature-branch') {
            when { not { branch 'main' } }
            steps {
                echo 'Run this Stage only against the Main Branch'
           }
        }
        stage('pull-request') {
            when { changeRequest target: 'main' }
            steps {
                echo 'Run this Stage only against a Pull-Request'
           }
        }
        stage('tag') {
            when { buildingTag() }
            steps {
                echo 'Run this Stage only against a Tag'
           }
        }
    }
}